@model IEnumerable<LinkUp.Application.DTOs.Social.CommentDto>

<form class="d-none" data-af="comments" method="post">
    @Html.AntiForgeryToken()
</form>

@if (Model != null && Model.Any())
{
    <div class="list-group list-group-flush">
        @foreach (var c in Model)
        {
            @await Html.PartialAsync("_CommentItem", c, new ViewDataDictionary(ViewData))
        }
    </div>
}
else
{
    <div class="text-muted small">Sé el primero en comentar</div>
}
